@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .module-border {
    @apply p-3 pt-2 bg-white rounded-md border border-slate-300 shadow-md
  }
  .module-slate-border {
    @apply p-3 pt-2 bg-white rounded-md border border-slate-300 shadow-md
  }
  .module-stone-border {
    @apply p-3 pt-2 bg-white rounded-md border border-stone-300 shadow-md
  }
  .module-cosmic-border {
    @apply p-3 pt-2 bg-white rounded-md border border-cosmic-200 shadow-md
  }
  .no-module-border {
    @apply p-0 border-none bg-transparent rounded-none shadow-none
  }
  .gradient-hover {
    @apply hover:scale-110 transform transition duration-200 ease-in-out cursor-pointer
  }
}

* {
  box-sizing: border-box;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

body {
  /* overflow: hidden; */
  background-color: #f8fafc;
}

.circle-picker span div span div {
  border: 1px solid #94a3b8;
}

input[type="range"] {
  border-radius: 8px;
  height: 7px;
  width: 134px;
  outline: none;
  appearance: none;
}

input[type="range"].slate {
  border: solid 1px rgb(148 163 184);
}
input[type="range"].stone {
  border: solid 1px rgb(184, 153, 148);
}
input[type="range"].cosmic {
  border: solid 1px #a5b4fc;
}

input[type="range"].fader-range {
  border: none;
  background:transparent;
  -webkit-appearance: none; 
  appearance: none;
  pointer-events: none;
  z-index: 10;
}

input[type=range].fader-range::-webkit-slider-thumb {
  /* border: 1px solid green; */
  pointer-events: all;
  z-index: 20;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid blue;
  z-index: 30;
}



input::-webkit-slider-thumb {
  border-radius: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  -webkit-appearance: none;
}

input.slate::-webkit-slider-thumb {
  background-color: #f1f5f9;
  border: solid 1px rgb(148 163 184);
}

input.stone::-webkit-slider-thumb {
  background-color: #fafaf9;
  border: solid 1px rgb(184, 153, 148);
}

input.cosmic::-webkit-slider-thumb {
  background-color: #f5f5f4;
  border: solid 1px #a5b4fc;
}

.react-var-ui-xy-control:before {
  bottom: -100rem;
  left: calc(50% - 1px);
  top: -100rem;
  width: 2px;
}

.react-var-ui-xy-control:after {
  height: 2px;
  left: -100rem;
  right: -100rem;
  top: calc(50% - 1px);
}

.slate-lines:after, .slate-lines:before {
  background: #64748b;
  content: "";
  opacity: .25;
  position: absolute;
}
.stone-lines:after, .stone-lines:before {
  background: #78716c;
  content: "";
  opacity: .25;
  position: absolute;
}
.cosmic-lines:after, .cosmic-lines:before {
  background: #6366f1;
  content: "";
  opacity: .25;
  position: absolute;
}
