@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .module-border {
    @apply p-3 pt-2 bg-white rounded-md border border-slate-300 shadow-md
  }
  .no-module-border {
    @apply p-0 border-none bg-transparent rounded-none shadow-none
  }
  .gradient-hover {
    @apply hover:scale-110 transform transition duration-200 ease-in-out cursor-pointer
  }
}

* {
  box-sizing: border-box;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

body {
  /* overflow: hidden; */
  background-color: #f8fafc;
}

.rtl {
  direction: rtl;
}

.circle-picker span div span div {
  border: 1px solid #94a3b8;
}

  input[type="range"]{
    /* background: linear-gradient(to right, rgb(148 163 184) 0%, rgb(148 163 184) 50%, #fff 50%, #fff 100%); */
    border: solid 1px rgb(148 163 184);
    border-radius: 8px;
    height: 7px;
    width: 134px;
    outline: none;
    appearance: none;
  }
  
  input::-webkit-slider-thumb {
    background-color: rgb(238, 238, 238);
    border: solid 1px rgb(148 163 184);
    border-radius: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    -webkit-appearance: none;
  }
