@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

body {
  /* overflow: hidden; */
  background-color: #f8fafc;
}

.rtl {
  direction: rtl;
}

.circle-picker span div span div {
  border: 1px solid #94a3b8;
}